* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3eef5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding: 0px;
}

.container {
    text-align: center;
    background-color: #9b59b6;
    padding: 5 px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 90%;
    max-width: 500px; 
    margin: 0 auto;  
}

h1 {
    color: #f0f0f1; /* Color lila */
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.time-box {
    background-color: #f1ebf1; /* Color lila oscuro */
    padding: 20px;
    border-radius: 10px;
    color: #070707;
    font-size: 24px;
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-box span {
    font-size: 36px;
    display: block;
    margin-bottom: 5px; /* Espacio entre el número y la palabra */
}

.message {
    font-size: 18px;
    color: #fcf8ff; /* Color lila */
    margin-bottom: 20px;
}

.princess-container {
    margin-top: 20px;
    width: 100%;
    margin-top: 20px;
}

/* Estilos para el video */
#videoElement {
    width: 60%; /* Tamaño inicial */
    height: auto;
    transition: all 0.5s ease-in-out; /* Transición suave */
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border: 2px solid #000; /* Borde para resaltar el video */
}

/* Clase que se aplica cuando el video está en modo pantalla completa */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  /* El video ocupa todo el ancho */
    height: 100%; /* El video ocupa todo el alto */
    z-index: 9999; /* Asegurarse de que esté en frente */
    object-fit: cover; /* Mantener relación de aspecto */
}

/* Ajustes para pantallas móviles */
@media only screen and (max-width: 768px) {
    #videoElement {
        width: 100%; /* Video ocupa todo el ancho en móviles */
    }
}




   